<!DOCTYPE html>
<html>
  <head>
    <title>NutrientKH</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/General.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  </head>
  <body>

    <form class="form" id="login-form">
       <p class="form-title">Log in to your account</p>
        <div class="input-container">
          <input class="input" placeholder="Email" id="email" required>
          <label class="input-label" for="email">Email</label>
          <span>
          </span>
      </div>
      <div class="input-container">
          <input class="input" type="password" placeholder="Password" id="password" required>
          <label class="input-label" for="password">Password</label>
        </div>
         <button type="submit" class="submit">
        Log in
      </button>

      <p class="signup-link">
        No account?
        <a href="/public/Pages/signup.html">Sign up</a>
      </p>
      
      <a href="/" class="back">
        &#11013Back
      </a>
   </form>

    <script>
      document.getElementById('login-form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        try {
          const response = await fetch('http://127.0.0.1:5500/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, password }),
          });

          const data = await response.json();
          if (response.ok) {
            alert('Login successful');
            // Save the token in localStorage or cookies
            localStorage.setItem('token', data.token);
            window.location.href = '/public/Pages/profile.html';
          } else {
            alert(data.message);
          }
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred. Please try again.');
        }
      });
    </script>
  </body>
</html>