body {
  font-family: "Inter";
}

.form {
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 38%;
  font-family: "Inter", Arial;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-family: "Inter";
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.back {
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #6B7280;
  text-decoration: none;
}

.input {
  border-radius: 4px;
  border: 2px solid rgba(229, 231, 235, 0.23);
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: border 0.2s;
}

.input:focus {
  border: 2px solid rgb(96, 165, 250);
  outline: none;
}

.input::placeholder {
  color: transparent;
}

.input-label {
  position: absolute;
  pointer-events: none;
  color: #6B7280;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 16px;

  background-color: rgb(255, 255, 255);
  padding: 0 4px;
  transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.input:not(:placeholder-shown) + .input-label {
  font-size: 12px;
  top: 0;
  left: 8px;
}

.input:focus + .input-label {
  font-size: 12px;
  top: 9px;
  left: 8px;
  color: rgb(96, 165, 250);
}